DB_HOST=localhost
DB_PORT=5432
DB_SSLMODE=disable
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=kelolakelas_identity
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
JWT_SECRET=supersecretjwtkey123!
PORT=8080
APP_URL=http://localhost:3000
RESEND_API_KEY=re_your_resend_api_key_here
RESEND_FROM_EMAIL=onboarding@resend.dev
